<header>
    <div class="header-container">
        <div class="d-flex mt-5">
            <h1>Yae Publishing House</h1>
            <img class = 'logo' src="/media/logo/cpfaqfk4u0x71.png" alt="">
        </div>
        <nav>
            <ul>
                <li>
                    <a class="btn btn-outline-primary" href="{% url 'book_list' %}">Main</a>
                     <a class="btn btn-outline-primary" href="{% url 'add_book' %}">Add a book</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
