<header>
    <div class="header-container">
        <div class="d-flex mt-5">
            <h1>Yae Publishing House</h1>
            <img class = 'logo' src="/media/logo/cpfaqfk4u0x71.png" alt="">
        </div>
        <nav>
            <ul>
                <li>
                    <a class="btn btn-outline-primary" href="{% url 'product_list' %}">Main</a>
                     <a class="btn btn-outline-primary" href="{% url 'product_create' %}">Addition</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
{#<div class="container mt-3">#}
{#    <form method="get" action="{% url 'search_book' %}">#}
{#        <div class="input-group">#}
{#            <input type="text" class="form-control" name="q" placeholder="Search for books">#}
{#            <div class="input-group-append">#}
{#                <button type="submit" class="btn btn-primary">Search</button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#</div>#}