{% extends 'layout/base.html' %}

{% block title%}
    {{ book.title }} - Book Detail
{% endblock title %}

{% block content %}

    <div class="container">

    <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong><br>
                Description: {{ book.description }}<br>
                <img class="book-image" src="{{ book.image.url }}" alt="{{ book.title }}"><br>
                Cost: ${{ book.cost }}<br>
                Created Date: {{ book.created_date }}

                <a href="{% url 'book_detail' book.id %}" class="btn btn-outline-primary">More</a>

            </li>
        {% endfor %}
    </ul>

    </div>

{% endblock content %}
