{% extends 'layout/base.html' %}



{% block title%}
    {{ book.title }} - Book Detail
{% endblock title %}

{% block content %}

    <div class="container">

    <h1>{{ book.title }} - Book Detail</h1>
    <p>Description: {{ book.description }}</p>
    <img class="book-image" src="{{ book.image.url }}" alt="{{ book.title }}">
    <p>Cost: ${{ book.cost }}</p>
    <p>Created Date: {{ book.created_date }}</p>
    <p>Additional Info: {{ book.additional_info }}</p>
    <h2>Comments</h2>
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item mb-2">
                {{ comment.text }} ({{ comment.created_date }})
                <form method="post" action="{% url 'delete_comment' book.id comment.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h3>Add a comment</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.text.label_tag }}
            <input type="text" class="form-control" name="{{ form.text.name }}" id="{{ form.text.id }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Add a comment</button>
    </form>


    <form method="post" action="{% url 'delete_book' book.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete book</button>
    </form>
    </div>




{% endblock content %}

