{% extends 'layout/base.html' %}



{% block title%}
    {{ book.title }} - Book Detail
{% endblock title %}

{% block content %}

    <div class="container">

    <h1>{{ book.title }} - Book Detail</h1>
    <p>Description: {{ book.description }}</p>
    <img class="book-image" src="{{ book.image.url }}" alt="{{ book.title }}">
    <p>Cost: ${{ book.cost }}</p>
    <p>Created Date: {{ book.created_date }}</p>
    <p>Additional Info: {{ book.additional_info }}</p>

    </div>

{% endblock content %}

