body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.book-image {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.details-link {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #0056b3;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.details-link:hover {
    background-color: #0056b3;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}